.back {
  background-color: #1e293b;
  background-image: url('https://assets.ccbp.in/frontend/react-js/ipl-dashboard-lg-bg.png');
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 100px;
}
.logo {
  height: 80px;
  width: 60px;
}
.back1 {
  display: flex;
  justify-content: space-between;
  width: 300px;
}
h1 {
  color: white;
}
.u1{
    list-style-type:none;
}